@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>Desenvolvi este simples CRUD para exercitar conhecimentos na linguagem C#! </p>
</div>
