@{
    ViewData["Title"] = "Feito por Thálice Lopes";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvi este CRUD com o intuito de aprofundar estudos em programação.</p>
<p>Foi criado aqui um projeto no Visual Studio 2022 do tipo MVC (Model-View-Controller)</p>
<p>Utilizei aqui como ferramentas para execução HTML, C# E SQL.</p>
<p>Temos nesse projeto duas tabelas, criadas em um banco local: Produtos (Para Criar, Ler, Atualizar e Deletar) e Acessos (Para acompanhar todos os passos do usuário)</p>
<p>Aqui, é possível criar seu próprio registro no sistema, desenvolvido com auxílio da ferramenta Identity da Microsoft.</p>
<br />
<p>Obrigado por chegar até aqui, espero que goste!</p>

